# Main Database (MSSQL)
MSSQL_SERVER=
MSSQL_DATABASE=
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_DOMAIN=
MSSQL_PORT=1433

# Production Tracking (MySQL)
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=3306

# App Config
GEMINI_API_KEY=
PORT=3000
