<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- MSSQL with Windows Authentication -->
    <add name="MSSQLServer" connectionString="Server=YOUR_SERVER;Database=RPAC_Production;Integrated Security=SSPI;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <!-- MySQL Production Tracking -->
    <add name="MySQLServer" connectionString="Server=YOUR_MYSQL_SERVER;Database=work_orders;Uid=YOUR_USER;Pwd=YOUR_PASSWORD;" providerName="MySql.Data.MySqlClient" />
    <!-- SQLite Fallback -->
    <add name="SQLiteFallback" connectionString="Data Source=|DataDirectory|production.db;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <!-- Needed for Windows Auth if running in IIS -->
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- Cross-Origin support if needed during development -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
